.ui-tab {
  position: relative;
}

.ui-tab ul{
  border-bottom: 2px solid #000;
}

.ui-tab li {
  float: right;
  margin-left: 10px;
  padding: 0 10px;
  height: 30px;
  border: 2px solid #000;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  line-height: 30px;
}

.ui-tab li .tab {
  display: inline-block;
  color: #000;
}

.ui-tab li.selected {
  position: relative;
  bottom: -2px;
  margin-top: -8px;
  height: 38px;
  background-color: RGB(77,77,77);
  line-height: 38px;
}

.ui-tab li.selected .tab {
  color: #FFF;
}