.container-fluid
  .row
    .tmpst-header-primary
    .tmpst-header-secondary
      a.tmpst-header-link.internal-home Signed in as 
        u= user.name
      a.tmpst-header-link.internal-home(href="/logout")
        i.fa.fa-arrow-right 
          u= _t['Logout']
