- var tabItems = [{id: '1', url: '/dashboard', label: 'Dashboard', 'icon': 'dashboard'}, {url: '/cruise', label: 'Cruise', id: '2', 'icon': 'bookmark'}, {url: '/agents', label: 'Agents', id: '3', 'icon': 'bookmark'}, {url: '/help', label: 'Help', id: '4', 'icon': 'bookmark'}].reverse()

.ui-tab
  ul.tab-list.clearfix
    each tab in tabItems
      if currentTabId == tab.id
        li.selected
          a.tab.internal-home(href="#{tab.url}")= _t[tab.label]
      else
        li
          a.tab.internal-home(href="#{tab.url}")= _t[tab.label]
