.container-fluid
  .tabs(data-js-ui-tabs)
  .agents-container
    .agents-header
      span.label Agents
      button.btn.btn-default(type="button" disabled="disabled") All
      button.btn.btn-default.active(type="button") Physical
      button.btn.btn-default(type="button" disabled="disabled") Virtual
    .row
      #agents-list.agents-list.col-md-8
      .agents-sidebar.col-md-4
        h4 Summary
        hr
        table.table
          tr
            td building
            td 2
          tr
            td idle
            td 2
        h4 History
        hr
        table.table
          tr
            td hjstdmngbgr02/Acceptance_test
          tr
            td hjstdmngbgr02/Acceptance_test
          tr
            td hjstdmngbgr02/Acceptance_test
          tr
            td hjstdmngbgr02/Acceptance_test
          tr
            td hjstdmngbgr02/Acceptance_test
