.container-fluid
  .tabs(data-js-ui-tabs)
  .agents-container
    .agents-header
      span.label Agents
      button.btn.btn-default(type="button" disabled="disabled") All
      button.btn.btn-default.active(type="button") Physical
      button.btn.btn-default(type="button" disabled="disabled") Virtual
    .row
      #agents-list.agents-list.col-md-8
        .add-agent-action.clearfix
          button.btn.btn-primary.add-agent.pull-right(data-modal=".add-agent-modal") Add Agent
      .agents-sidebar.col-md-4
        h4 Summary
        hr
        table.table
          tr
            td building
            td 2
          tr
            td idle
            td 2
        h4 History
        hr
        table.table
          tr
            td hjstdmngbgr02/Acceptance_test
          tr
            td hjstdmngbgr02/Acceptance_test
          tr
            td hjstdmngbgr02/Acceptance_test
          tr
            td hjstdmngbgr02/Acceptance_test
          tr
            td hjstdmngbgr02/Acceptance_test


.hiding.specify-resources.modal(data-modal-overlay-class="tmpst-overlay")
  .modal-body
    .specify-resources-message
    p (separate multiple resources name with commas)
    p 
      input.input-resources.col-md-12(type="text" placeholder="specify your resources here")
  .footer
    button.btn.btn-default.specify-resources-add(data-modal-close) Add resources
    button.btn.btn-default.specify-resources-close(data-modal-close) Close


.hiding.add-agent-modal.modal(data-modal-overlay-class="tmpst-overlay")
  .modal-body
    .add-agent-message
    p (Add your agent with your host and IP)
    p
      input.input-agent-host.col-md-5(type="text" placeholder="specify your host here")
      input.input-agent-ip.col-md-5(type="text" placeholder="specify your ip here")
  .footer
    button.btn.btn-default.add-agent-button(data-modal-close) Add Agent
    button.btn.btn-default.add-agent-close(data-modal-close) Close


